url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scheduler = {editable = true, path = "."}

[dev-packages]
yapf = "*"
nose2 = "*"
toml = "*"
oauth2client = "*"
gspread-formatting = "1.0.0"
gspread = "4.0.1"

[requires]
python_version = "3.9"
